In [1]:
import glob, os
import pandas as pd

In [7]:
#Open some of the files and see what the data looks like:
df1=pd.read_csv("surveys/2016/Anon_Week_2_Feedback_-_NY.csv", index_col=0)
#I use .head() to keep my notebook from overflowing with dataframes. 
df1.head()

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
Timestamp,,,
7/1/2016 6:41:31,Apps,3,2
7/1/2016 9:27:32,Apps,3,4
7/1/2016 6:46:34,Games,3,5
7/1/2016 6:47:56,Games,3,3
7/1/2016 6:33:45,Apps,4,3

In [11]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.