In [20]:
import glob, os
import pandas as pd

In [48]:
ls

Operation_Break_School.ipynb       new_data/
README.md                          old_data/
data_cleaning_tutorial_code.ipynb  surveys/

In [22]:
#open 2017 data:

"./old_data/SA_Feedback_Surveys_RAW/2017/"

df2017 = pd.read_csv("./old_data/SA_Feedback_Surveys_RAW/2017/Student Feedback Surveys-Superview.csv")

In [26]:

df2017 =df2017.drop('ID', 1)

In [33]:
# change track to merit badge
df2017.head()

#change column names:
mapper_2017 = {
    'Location': 'Location',
    'Track': 'Merrit Badge',
    'Week': 'week',
    'Rating (Num)':'Rating (Num)',
    'Schedule Pacing':'Schedule Pacing'
}

df2017.rename(columns=mapper_2017, inplace=True)
df2017.head()

        Location    Merrit Badge    week Rating (Num)    Schedule Pacing
0  San Francisco  Apps, Explorer  Week 1            3         Just right
1    Los Angeles            Apps  Week 1            4  A little too fast
2  San Francisco           Games  Week 1            4       Way too slow
3            NaN             NaN  Week 2            4  A little too fast
4  New York City  Apps, Explorer  Week 1            4         Just right

In [38]:
df2017.iloc[1]

Location                 Los Angeles
Merrit Badge                    Apps
week                          Week 1
Rating (Num)                       4
Schedule Pacing    A little too fast
Name: 1, dtype: object

In [39]:
# Map merrit badges to something else
df2017["Merrit Badge"].unique()

array(['Apps, Explorer', 'Apps', 'Games', nan, 'VR', 'Games, Explorer'],
      dtype=object)

In [45]:
MB_map= {
    'Apps, Explorer': 'Rowing, Explorer', 
    'Apps':'rowing',
    'Games': 'Astrnomy',
    'VR': 'Computer Programing', 
    'Games, Explorer': 'Astrnomy, Explorer'
}
df2017["Merrit Badge"]= df2017["Merrit Badge"].map(MB_map)
df2017["Merrit Badge"].unique()

array(['Rowing, Explorer', 'rowing', 'Astrnomy', nan,
       'Computer Programing', 'Astrnomy, Explorer'], dtype=object)

In [46]:
# Write it to .csv

df2017.to_csv('new_data/2017/Camp feedback form 2017' , sep='\t')

In [76]:
#Do the same thing for 2016 week 8

df2016 = pd.read_csv("./old_data/SA_Feedback_Surveys_RAW/2016/Week 8 Feedback (2016, incomplete) - results.csv")
df2016.head()

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f

In [77]:
#Drop # and NEtwork ID
df2016 = df2016.drop('Network ID', 1)
df2016 = df2016.drop('#', 1)

In [78]:
list(df2016)

['How likely is it that you would recommend the Make School Summer Academy to a friend?',
 'location',
 'track',
 'Start Date (UTC)',
 'Submit Date (UTC)']

In [79]:


#change column names:
mapper_2016 = {
'How likely is it that you would recommend the Make School Summer Academy to a friend?':"Would you Recomend us?",
 'location':'location',
 'track':'Merrit Badge',
 'Start Date (UTC)':'Start',
 'Submit Date (UTC)':'submit'
}

df2016.rename(columns=mapper_2016, inplace=True)
df2016.head()

,Would you Recomend us?,location,Merrit Badge,Start,submit
0,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04
1,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04
2,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05
3,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06
4,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11

In [80]:
df2016 = df2016.drop('Start', 1)
df2016.head()

   Would you Recomend us?       location         Merrit Badge       submit
0                      10       New York           summerApps  9/7/16 1:04
1                      10  San Francisco          summerIntro  9/7/16 1:04
2                      10       New York          summerIntro  9/7/16 1:05
3                       9      Sunnyvale  summerApps (4-week)  9/7/16 1:06
4                       3  San Francisco          summerIntro  9/7/16 1:11

In [81]:
df2016['Merrit Badge'].unique()

array(['summerApps', 'summerIntro', 'summerApps (4-week)', 'summerGames',
       'summerVR', 'summerGames (4-week)'], dtype=object)

In [ ]:
Merrit_map_16 = {
    'summerApps': 'Rowing', 
    'summerIntro': 'Astronomy', 
    'summerApps (4-week)':"cannoeing",
    'summerGames': "Games",
       'summerVR': "Comuter Programing", 
    'summerGames (4-week)': "Games"
}

df2016['Merrit Badge'] = df2016['Merrit Badge'].map(Merrit_map_16)