In [3]:
import glob, os
import pandas as pd

In [48]:
ls

Operation_Break_School.ipynb       new_data/
README.md                          old_data/
data_cleaning_tutorial_code.ipynb  surveys/

In [22]:
#open 2017 data:

"./old_data/SA_Feedback_Surveys_RAW/2017/"

df2017 = pd.read_csv("./old_data/SA_Feedback_Surveys_RAW/2017/Student Feedback Surveys-Superview.csv")

In [26]:

df2017 =df2017.drop('ID', 1)

In [33]:
# change track to merit badge
df2017.head()

#change column names:
mapper_2017 = {
    'Location': 'Location',
    'Track': 'Merrit Badge',
    'Week': 'week',
    'Rating (Num)':'Rating (Num)',
    'Schedule Pacing':'Schedule Pacing'
}

df2017.rename(columns=mapper_2017, inplace=True)
df2017.head()

        Location    Merrit Badge    week Rating (Num)    Schedule Pacing
0  San Francisco  Apps, Explorer  Week 1            3         Just right
1    Los Angeles            Apps  Week 1            4  A little too fast
2  San Francisco           Games  Week 1            4       Way too slow
3            NaN             NaN  Week 2            4  A little too fast
4  New York City  Apps, Explorer  Week 1            4         Just right

In [38]:
df2017.iloc[1]

Location                 Los Angeles
Merrit Badge                    Apps
week                          Week 1
Rating (Num)                       4
Schedule Pacing    A little too fast
Name: 1, dtype: object

In [39]:
# Map merrit badges to something else
df2017["Merrit Badge"].unique()

array(['Apps, Explorer', 'Apps', 'Games', nan, 'VR', 'Games, Explorer'],
      dtype=object)

In [354]:
MB_map= {
    'Apps, Explorer': 'Rowing, Explorer', 
    'Apps':'rowing',
    'Games': 'Astrnomy',
    'VR': 'Computer Programing', 
    'Games, Explorer': 'Astrnomy, Explorer'
}
# df2017["Merrit Badge"]= df2017["Merrit Badge"].map(MB_map)
# df2017["Merrit Badge"].unique()

In [46]:
# Write it to .csv

df2017.to_csv('new_data/2017/Camp feedback form 2017' , sep='\t')

In [76]:
#Do the same thing for 2016 week 8

df2016 = pd.read_csv("./old_data/SA_Feedback_Surveys_RAW/2016/Week 8 Feedback (2016, incomplete) - results.csv")
df2016.head()

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f

In [77]:
#Drop # and NEtwork ID
df2016 = df2016.drop('Network ID', 1)
df2016 = df2016.drop('#', 1)

In [78]:
list(df2016)

['How likely is it that you would recommend the Make School Summer Academy to a friend?',
 'location',
 'track',
 'Start Date (UTC)',
 'Submit Date (UTC)']

In [79]:


#change column names:
mapper_2016 = {
'How likely is it that you would recommend the Make School Summer Academy to a friend?':"Would you Recomend us?",
 'location':'location',
 'track':'Merrit Badge',
 'Start Date (UTC)':'Start',
 'Submit Date (UTC)':'submit'
}

df2016.rename(columns=mapper_2016, inplace=True)
df2016.head()

,Would you Recomend us?,location,Merrit Badge,Start,submit
0,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04
1,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04
2,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05
3,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06
4,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11

In [80]:
df2016 = df2016.drop('Start', 1)
df2016.head()

   Would you Recomend us?       location         Merrit Badge       submit
0                      10       New York           summerApps  9/7/16 1:04
1                      10  San Francisco          summerIntro  9/7/16 1:04
2                      10       New York          summerIntro  9/7/16 1:05
3                       9      Sunnyvale  summerApps (4-week)  9/7/16 1:06
4                       3  San Francisco          summerIntro  9/7/16 1:11

In [81]:
df2016['Merrit Badge'].unique()

array(['summerApps', 'summerIntro', 'summerApps (4-week)', 'summerGames',
       'summerVR', 'summerGames (4-week)'], dtype=object)

In [82]:
Merrit_map_16 = {
    'summerApps': 'Rowing', 
    'summerIntro': 'Astronomy', 
    'summerApps (4-week)':"cannoeing",
    'summerGames': "Games",
       'summerVR': "Comuter Programing", 
    'summerGames (4-week)': "Games"
}

df2016['Merrit Badge'] = df2016['Merrit Badge'].map(Merrit_map_16)
df2016['Merrit Badge'].unique()

array(['Rowing', 'Astronomy', 'cannoeing', 'Games', 'Comuter Programing'],
      dtype=object)

In [83]:
df2016.to_csv('new_data/2016/Camp feedback week 8.csv' , sep='\t')

In [ ]:
# Take out spaces in filename (Put them back later)

# Come up with scripts to run on all files to change contents

In [ ]:
# Take care of the white spaces in original data

In [192]:
target_path= "./old_data/fb/2016/*"

In [193]:
FILENAMES = glob.glob(target_path, recursive = True)
FILENAMES[0:7]

['./old_data/fb/2016/Break_Camp_week_4_Feedback_-_NY.csv',
 './old_data/fb/2016/Break_Camp_week_7_Feedback_-_SV.csv',
 './old_data/fb/2016/Break_Camp_week_6_Feedback_-_SG.csv',
 './old_data/fb/2016/Break_Camp_week_6_Feedback_-_SF.csv',
 './old_data/fb/2016/Break_Camp_week_5_Feedback_-_LA.csv',
 './old_data/fb/2016/Break_Camp_week_3_Feedback_-_SG.csv',
 './old_data/fb/2016/Break_Camp_week_2_Feedback_-_SV.csv']

In [194]:
# def rename(filename):
#     components = file.split(" ") #splits on the space
#     os.rename(file, "./old_data/fb/2016/Break_Camp_week_{}_Feedback_-_{}.csv".format(components[2], components[5]))
#     return filename

In [195]:
# tries to rename files but accidently delets them
for file in FILENAMES:
    # grab important data components from each filename
    components = file.split(" ") #splits on the space
    week_num, loc = components[2], components[5].split(".")[0]
    #Assign new name based on components
    os.rename(file, "./old_data/fb/2016/Break_Camp_week_{}_Feedback_-_{}.csv".format(week_num, loc))

IndexError: list index out of range

In [196]:
FILENAMES[0:7]

['./old_data/fb/2016/Break_Camp_week_4_Feedback_-_NY.csv',
 './old_data/fb/2016/Break_Camp_week_7_Feedback_-_SV.csv',
 './old_data/fb/2016/Break_Camp_week_6_Feedback_-_SG.csv',
 './old_data/fb/2016/Break_Camp_week_6_Feedback_-_SF.csv',
 './old_data/fb/2016/Break_Camp_week_5_Feedback_-_LA.csv',
 './old_data/fb/2016/Break_Camp_week_3_Feedback_-_SG.csv',
 './old_data/fb/2016/Break_Camp_week_2_Feedback_-_SV.csv']

In [207]:
# relative_directory_path = "./old_data/SA_Feedback_Surveys_RAW/2016/"
# target_file = "Anon_Week_1_Feedback_-_LA.csvÂ "

df2016WK1 = pd.read_csv(FILENAMES[1])
df2016WK1.head()

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 13:37:43,Apps,3,3
1,8/5/2016 13:37:50,Apps,5,3
2,8/5/2016 13:39:25,Apps,3,3
3,8/5/2016 13:39:27,Apps,4,3
4,8/5/2016 13:41:05,Apps,4,3

# Marker 1-----------------------------

In [220]:
# Create list
headers=[]

In [221]:
def find_headers(filename):
    test= pd.read_csv(FILENAMES[1])
    headers.append(list(test))

In [ ]:
for file in FILENAMES:
    find_headers(file)

In [229]:
# fin

u_headers = []
for x in headers:
    if x not in u_headers:
        u_headers.append(x)
print(u_headers)

[['Timestamp', 'What track are you in?', 'How would you rate your overall satisfaction with the Summer Academy this week?', 'How well is the schedule paced?']]

# find all unique values for track

In [250]:
testA = pd.read_csv(FILENAMES[2])
testA

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 19:18:44,4,3
1,7/29/2016 23:12:48,5,5
2,7/30/2016 5:46:01,5,3
3,7/30/2016 7:02:47,4,3
4,7/31/2016 7:40:14,3,5
5,7/31/2016 8:34:29,5,3

In [333]:
test = pd.read_csv(FILENAMES[1])
test['What track are you in?'][0:5]

0    Apps
1    Apps
2    Apps
3    Apps
4    Apps
Name: What track are you in?, dtype: object

In [334]:
track = []

def find_unique_tracts(filename):
    track_n = pd.read_csv(filename)
    try:
        track.append(track_n['What track are you in?'].values)
    except:
        pass

In [335]:
for file in FILENAMES:
    find_unique_tracts(file)

In [347]:
b_track = []

end = len(track)
for n in range(end-1):
    b_track.append(track[n].tolist())
    
b_track[0:7]

[['Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Intro',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Apps',
  'Games',
  'Apps',
  'Apps'],
 ['Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Apps'],
 ['Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'VR',
  'VR',
  'VR'],
 ['Games',
  'Intro',
  'Intro',
  'Games',
  'Intro',
  'Games',
  'Intro',
  'Games',
  'Games',
  'Intro',
  'Games',
  'Games'],
 ['Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Games',
  'Games',
  'Intro',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Games',
  'Games',
  'Intro',
  'Intro',
  'Intro'],
 ['Games',
  'Games',
  'Apps',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Games',
  'Games',
  'Games',
  'Games',
  'Games',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Games',
  'Games',
  'Games',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps'],
 ['Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Apps',
  'Games',
  'Games',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'Intro',
  'VR',
  'VR',
  'VR',
  'VR',
  'Intro',
  'Intro']]

In [348]:
c_track = []

for sublist in b_track:
    for item in sublist:
        c_track.append(item)

In [350]:
c_track[0:7]

['Apps', 'Apps', 'Apps', 'Apps', 'Games', 'Intro', 'Apps']

In [351]:
u_track = []
for x in c_track:
    if x not in u_track:
        u_track.append(x)
    
u_track

['Apps', 'Games', 'Intro', 'VR', 'Average:']

In [230]:
grand_map = {'Timestamp':'Timestamp', 
             'What track are you in?':"What Marrit Badge?", 
             'How would you rate your overall satisfaction with the Summer Academy this week?':'How would you rate your satisfaction with the Break Camp this week?',
             'How well is the schedule paced?': 'How well is the program paced?'
    
}

In [356]:
track_map= {
    'Apps': 'Rowing', 
    'Games': 'Astrnomy', 
    'Intro': 'Intro Rowing', 
    'VR': 'Computer Programing', 
    'Average:': 'Average:'
}

In [358]:
track_map

{'Apps': 'Rowing',
 'Games': 'Astrnomy',
 'Intro': 'Intro Rowing',
 'VR': 'Computer Programing',
 'Average:': 'Average:'}

In [371]:
tester = FILENAMES[5]

In [372]:
def grand_master(filename):
    #open filename as a dataframe
    df= pd.read_csv(filename)
    # changes the header to grand map header
    df.rename(columns=grand_map, inplace=True)
    # if it has a track field apply track map
    try:
        df["What Marrit Badge?"]= df["What Marrit Badge?"].map(track_map)
    except:
        pass
        # writes it to .csv in the new data
    relitave_name=filename.split("2016/")    
    df.to_csv("new_data/2016/{}".format(relitave_name[1]), sep='\t')

In [373]:
for file in FILENAMES:
    grand_master(file)