In [199]:
import glob, os
import pandas as pd

In [200]:
target_path= "./clean_data/2016/Break*"

FILENAMES = glob.glob(target_path, recursive = True)
FILENAMES[0:7]

['./clean_data/2016/Break Camp week 6 Feedback - Tokyo.csv',
 './clean_data/2016/Break Camp week 6 Feedback - Taipei.csv',
 './clean_data/2016/Break Camp week 5 Feedback - HK.csv',
 './clean_data/2016/Break Camp week 6 Feedback - NY.csv',
 './clean_data/2016/Break Camp week 4 Feedback - SG.csv',
 './clean_data/2016/Break Camp week 5 Feedback - SV.csv',
 './clean_data/2016/Break Camp week 4 Feedback - SF.csv']

In [201]:
def rename(filename):
    components = filename.split(" ") #splits on the space
    os.rename(filename, "./clean_data/2016/Week_{}_Feedback_-_{}".format(components[3], components[6]))

In [202]:
# # Run Loop on all filenames in the folder. 
for file in FILENAMES:
    rename(file)

In [123]:
# Grab new filenames with GLOB 
# Note that we need a new filepath after preforming the loop
target_path= "./clean_data/2016/Week*"


FILENAMES = glob.glob(target_path, recursive = True)
# Return first 8 entries in FILENAMES LIST
FILENAMES[0:7]

['./clean_data/2016/Week_5_Feedback_-_SF.csv.csv',
 './clean_data/2016/Week_6_Feedback_-_LA.csv.csv',
 './clean_data/2016/Week_2_Feedback_-_SV.csv.csv',
 './clean_data/2016/Week_7_Feedback_-_SF.csv.csv',
 './clean_data/2016/Week_2_Feedback_-_NY.csv.csv',
 './clean_data/2016/Week_5_Feedback_-_HK.csv.csv',
 './clean_data/2016/Week_5_Feedback_-_SG.csv.csv']

In [165]:
# How many files have the fist row as unamed?
len(FILENAMES)

39

In [124]:
DF1 = pd.read_csv(FILENAMES[0],  sep='\t')
DF1.head()

,Unnamed: 0,What Marrit Badge?,How would you rate your satisfaction with the Break Camp this week?,How well is the program paced?
0,0,Rowing,3,3
1,1,Rowing,4,3
2,2,Rowing,4,3
3,3,Rowing,4,4
4,4,Rowing,3,3

# Find unique headers

In [125]:
# Create list
headers=[]
def find_headers(filename):
    dataframe= pd.read_csv(filename, sep='\t')
    listA = list(dataframe)
    for value in listA:
            headers.append(value)       
    
def find_unique(list, new_list):
    for x in list:
        if x not in new_list:
            new_list.append(x)

In [ ]:
'Unnamed: 0' 'Unnamed: 0.1'

In [172]:
count = 0

for x in headers:
    if x == 'Unnamed: 0':#or 'Unnamed: 0.1':
        count += 1
    
count

39

In [126]:
# Run find headers through a loop with all files
for file in FILENAMES:
    find_headers(file)

unique_headers = []
find_unique(headers, unique_headers)
    # apply unique to that list.
unique_headers
#display u_headers

['Unnamed: 0',
 'What Marrit Badge?',
 'How would you rate your satisfaction with the Break Camp this week?',
 'How well is the program paced?',
 'Timestamp',
 'How well are the tutorials paced?',
 'Unnamed: 0.1']

In [129]:
head_map = {
    'Unnamed: 0': 'no_name',
    'What Marrit Badge?':'merit badge',
    'How would you rate your satisfaction with the Break Camp this week?:':'rateing',
    'How well is the program paced?': "pace",
    'Timestamp': "Timestamp",
    'How well are the tutorials paced?':"pace",
    'Unnamed: 0.1':'no_name'
}

In [130]:
head_map

{'Unnamed: 0': 'no_name',
 'What Marrit Badge?': 'merit badge',
 'How would you rate your satisfaction with the Break Camp this week?:': 'rateing',
 'How well is the program paced?': 'pace',
 'Timestamp': 'Timestamp',
 'How well are the tutorials paced?': 'pace',
 'Unnamed: 0.1': 'no_name'}

In [158]:
badges = []

def all_badges(filename):
    track_n = pd.read_csv(filename,sep='\t')
    try:
        badges.append(track_n['What Marrit Badge?'].values)
    except:
        pass
    
def sublist_extract(list_of_list, new_list):
    for sublist in list_of_list:
        for item in sublist:
            new_list.append(item)

In [160]:
for file in FILENAMES:
    all_badges(file)

flat_badges = []
unique_badges = []
sublist_extract(badges,flat_badges)
flat_badges 

find_unique(flat_badges, unique_badges)
unique_badges

['Rowing', 'Astrnomy', 'Intro Rowing', 'Computer Programing', 'Average:']

In [161]:
badge_map = {
    'Rowing': 'rowing', 
    'Astrnomy':'astronomy', 
    'Intro Rowing': 'rowing', 
    'Computer Programing':'computer programing', 
    'Average:':'Average:'
}

In [218]:
def scrubba_dub_dubb(filename):
    # Open a file as a data frame (.pd.read_csv())
    DF = pd.read_csv(filename, sep='\t')
    
#   Rename the headers. (.rename()))
    DF.rename(columns=head_map, inplace=True)
    
#   Drop the index column (pd.drop())
    DF = DF.drop('no_name', 1)
    
#   Standardize the Badge columns(ex. change "games" to "sports") (.map())
    DF['merit badge']= DF['merit badge'].map(badge_map)
    
    # Take the week and location from the filename and apply it to each instance in new fields.
    fileparts = filename.split("_")
    DF["week_num"] = fileparts[2]
    DF["location"] = fileparts[5].split(".")[0]
    
    # save to a .csv file overwrites existing file
    DF.to_csv(filename)
    return DF

In [219]:
#     fileparts = FILENAMES[index].split("_")
#     week_num, location = int(fileparts[1]), fileparts[2].split("-")[1][:-4]
# #     Declare new 
#     df["Location"] =  location
#     df["Week"] = week_num

In [220]:
tester5= "./clean_data/TEST/Week_1_Feedback_-_NY.csv"
DF = scrubba_dub_dubb(tester5)
DF.head()

,merit badge,Timestamp,How would you rate your satisfaction with the Break Camp this week?,pace,week_num,location
0,astronomy,6/24/2016 7:03:34,3,5,1,NY
1,astronomy,6/24/2016 7:10:22,3,3,1,NY
2,rowing,6/24/2016 7:03:41,3,3,1,NY
3,rowing,6/24/2016 7:04:59,4,3,1,NY
4,rowing,6/24/2016 7:07:02,4,4,1,NY

In [217]:
fileparts = tester5.split("_")
fileparts[5].split(".")[0]

'NY'